.tag {
  border-radius: 7px;
  padding: 7px;
  margin-right: 7px;
  margin-bottom: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgba(128, 96, 96, 0.7);  
}

.selected {
  box-shadow: 3px 3px 10px 0 rgba(128, 96, 96, 0.7);  
}