@charset "utf-8";
/**
 * TreeStickies
 * © 2021 Hidekazu Kubota
 */
p
{
  line-height: 1.3em;
}

blockquote
{
  line-height: 1.1em;  
  padding: 0.1em 1em 0.1em 1em;
  border-left: 4px solid #ccc;
  background-color: #f5f8fa;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}

a
{
	color: #0782C1;
}

dl
{
  line-height: 1.1em;    
	padding: 0 0 0 1em;
}

ul[data-collapsed='true'] {
  display: none;
}

ul[data-collapsed='false'] {
  display: block;
}

ol[data-collapsed='true'] {
  display: none;
}

ol[data-collapsed='false'] {
  display: block;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2em;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

.image > span.icon {
  display: none;
}

img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre
{
	white-space: pre-wrap;
	-moz-tab-size: 4;
	tab-size: 4;
}

a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}

/**
 * Unordered List
 */
ul
{
  line-height: 1.1em;    
	padding: 0 0 0 1em;
}

body > ul:hover, .editor > ul:hover, body > ol:hover, .editor > ol:hover  {
  border-right: 2px solid rgba(76, 86, 106, 0.20); 
  transition: all 0.4s ease-in-out;
}

body > ul, .editor > ul, body > ol, .editor > ol {
  border-right: 2px solid transparent;
}

ul > li.list-item {
  list-style-type: '•';
  position: relative;
  padding-left: 7px;
}

ul > li.list-item::marker {
  font-size: 1rem;
}

ul > li.list-item > label {
  position: absolute;
  top: 0;
  left: -1.2rem;
  display: inline-block;
  width: 1.5rem;
  color: rgba(76, 86, 106, 0.40); 
  cursor: pointer;
}

ul > li.list-item label > span {
  color: transparent;
  transition: all 0.2s ease-in-out;  
}

ul > li.list-item:hover label > span {
  color: rgba(76, 86, 106, 0.40); 
}

ul > li.list-item[data-collapsed='true'] > label > span {
  color: rgba(76, 86, 106, 0.40); 
} 

ul > li.list-item > label:hover > span {
  color: rgba(76, 86, 106, 0.90); 
}

ul > li > label > span.fa-caret-right {
  margin-left: 1px;
  margin-top: 0px;
}

/**
 * Ordered list
 */
ol
{
  line-height: 1.1em;    
	padding: 0 0 0 1em;
}

ol > li.list-item {
  position: relative;
  margin-left: 4px;
  padding-left: 3px;
}

ol > li.list-item::marker {
  font-size: 0.8rem;
}

ol > li.list-item > label {
  position: absolute;
  top: 0;
  left: -1.4rem;
  display: inline-block;
  width: 1.5rem;
  color: rgba(76, 86, 106, 0.40); 
  cursor: pointer;
}

ol > li.list-item label > span {
  color: transparent;
  transition: all 0.2s ease-in-out;  
  margin-left: -2px;
}

ol > li.list-item:hover label > span {
  color: rgba(76, 86, 106, 0.40); 
}

ol > li.list-item[data-collapsed='true'] > label > span {
  color: rgba(76, 86, 106, 0.40); 
} 

ol > li.list-item > label:hover > span {
  color: rgba(76, 86, 106, 0.90); 
}

ol > li > label > span.fa-caret-right {
  margin-left: 1px;
  margin-top: 1px;
}


/**
 * task-list-item
 */
li.task-list-item {
  list-style-type: none;
  position: relative;
  padding-left: 10px;
}

li.task-list-item::marker {
  font-size: 1rem;
}

li.task-list-item > label.collapse {
  position: absolute;
  top: 0;
  left: -1.2rem;
  display: inline-block;
  width: 0.7rem;
  color: rgba(76, 86, 106, 0.40); 
  cursor: pointer;
}

li.task-list-item label.collapse > span {
  color: transparent;
  transition: all 0.2s ease-in-out;  
}

li.task-list-item:hover label.collapse > span {
  color: rgba(76, 86, 106, 0.40); 
}

li.task-list-item[data-collapsed='true'] > label.collapse > span {
  color: rgba(76, 86, 106, 0.40); 
} 

li.task-list-item > label.collapse:hover > span {
  color: rgba(76, 86, 106, 0.90); 
}

li.task-list-item > label.collapse > span.fa-caret-right {
  margin-left: 1px;
  margin-top: 0px;
}


li.task-list-item > div > p:first-child{
  margin-block-start: 0px;
}

li.task-list-item > label.check {
  position: absolute;
  top: 0;
  left: -8px;
  top: -1px;
  display: inline-block;
  width: 1rem;
  cursor: pointer;
  font-size: 16px;
}

li.task-list-item > label.check > input {
  display: none;
}

li.task-list-item[data-checked='true'] > label.check {
  color: rgb(0, 0, 0);
} 

li.task-list-item[data-checked='false'] > label.check {
  color: rgba(0, 0, 0, 0.7);
}


/**
 * code-fence
 */
div.code-fence {
  background-color: #f5f8fa;
  color: #000;
  font-size: 0.85rem;
  padding: 0.4rem 0.4rem 0rem 0.4rem;
  border-radius: 4px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

div.code-fence > * {
  margin: 0px;
}

div.code-fence .code-fence_select-wrapper {
  float: right;
}

div.code-fence .code-fence_footer {
  visibility: hidden;
  color: #a0a8aa;
  font-size: 12px;
  margin-left: 0.3rem;
}

div.code-fence .code-fence_footer .fas {
  margin-right: 3px;
  cursor: pointer;
}

body > #card > #editor > .milkdown > .editor div.code-fence .code-fence_footer {
  visibility: visible;
}

div.code-fence .code-fence_value {
    width: 8.25rem;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 0rem 1.2rem;
    margin-block-end: 0px;
    border: 1px solid rgba(216,222,233, 1);

    cursor: pointer;
    background-color: #ffffff;
    position: relative;
    display: flex;
    color: rgba(46, 52, 64, 0.87);
    letter-spacing: 0.5px;
    height: 1.2rem;
    align-items: center;
}

div.code-fence .code-fence_value > *:last-child {
  width: 1.625rem;
  height: 100%;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(76, 86, 106, 0.87);
  border-left: 1px solid rgb(216,222,233);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

div.code-fence .code-fence_value > *:last-child:hover {
  background: rgb(236,239,244);
  color: rgb(94,129,172);
}

div.code-fence .code-fence_value > span:first-child {
  padding-left: 1rem;
  flex: 1;
  font-weight: 500;
}

div.code-fence .code-fence_select-option {
  list-style: none;
  line-height: 2rem;
  padding-left: 1rem;
  cursor: pointer;
}

div.code-fence .code-fence_select-option:hover {
  background: rgba(129,161,193, 0.12);
  color: rgb(94,129,172);
}

div.code-fence .code-fence_select[data-fold='true'] {
  display: none;
}

div.code-fence .code-fence_select {
  font-weight: 500;
  float:right;
  margin-block-start: 0px;
  margin-left: 0px;
  z-index: 1;  
  box-sizing: border-box;
  left: 1.2rem;
  padding: 0.5rem 0;
  max-height: 16.75rem;
  width: 8.25rem;
  border: 1px solid rgba(216,222,233, 1);
  box-shadow: 0px 1px 1px rgba(151, 153, 158, 0.14), 0px 2px 1px rgba(59, 66, 82, 0.12), 0px 1px 3px rgba(59,66,82, 0.2);
  background-color: #ffffff;
  border-top: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: #f5f8fa #a5a8af;
}

div.code-fence .code-fence_select::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f8fa;
}

div.code-fence .code-fence_select::-webkit-scrollbar-thumb {
  background-color: #a5a8af;
}


div.code-fence code {
  line-height: 1.5;
}

div.code-fence pre {
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', 'monospace';
  margin: 1.4rem 0.3rem 0rem 0.3rem;
  overflow-x: scroll;
  white-space: pre !important;
  scrollbar-width: thin;
  scrollbar-color: #f5f8fa #a5a8af;
}

div.code-fence pre::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f8fa;
}

div.code-fence pre::-webkit-scrollbar-thumb {
  background-color: #a5a8af;
}

.emoji-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.emoji-wrapper > .emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
}

.emoji-picker__wrapper {
  top: 24px !important; /* height of titlebar */
  left: auto !important;
  width: 100% !important;
}

.emoji-picker__wrapper > .emoji-picker {
  max-width: 90%;
}

.emoji-picker__overlay {
  display: none !important;
}

.milkdown-emoji-filter {
  position: absolute;
  border: 1px solid rgba(216,222,233, 1);
  border-radius: 4px;
  background-color: #f5f8fa;
  box-shadow: 0px 1px 1px rgba(151, 153, 158, 0.14), 0px 2px 1px rgba(59, 66, 82, 0.12), 0px 1px 3px rgba(59,66,82, 0.2);
}

.milkdown-emoji-filter.hide {
  display: none;
}

.milkdown-emoji-filter > .milkdown-emoji-filter_item {
  display: flex;
  gap: 0.5rem;
  height: 2.25rem;
  padding: 0 1rem;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  line-height: 2;
  font-size: 0.875rem;
}

.milkdown-emoji-filter > .milkdown-emoji-filter_item.active {
  background: #e5e8fa;
  color: #0782C1;
}

.milkdown-emoji-filter .emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}