/**
 * TreeStickies
 * © 2021 Hidekazu Kubota
 */

p
{
  line-height: 1.1em;
}

blockquote
{
  line-height: 1.1em;  
  padding: 0.1em 1em 0.1em 1em;
  border-left: 4px solid #ccc;
  background-color: #f5f8fa;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}

a
{
	color: #0782C1;
}

ol,ul,dl
{
  line-height: 1.1em;    
	padding: 0 0 0 1em;
	margin-left: 0.5em;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

.image > span.icon {
  display: none;
}

img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre
{
	white-space: pre-wrap;
	-moz-tab-size: 4;
	tab-size: 4;
}

a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}

/**
 * task-list-item
 */
li.task-list-item {
  list-style-type: none;
  position: relative;
}
 
li.task-list-item > div {
  overflow: hidden;
}

li.task-list-item > div > p:first-child{
  margin-block-start: 0px;
}

li.task-list-item > label {
  position: absolute;
  top: 0;
  left: -1.2rem;
  display: inline-block;
  width: 1.5rem;
}

li.task-list-item > label > input {
  display: none;
}

li.task-list-item > label:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
}

li.task-list-item > label:hover:before {
  background: rgb(236,239,244);
}

li.task-list-item[data-checked='true'] > label {
  color: rgb(94, 129, 172);
} 

li.task-list-item[data-checked='false'] > label {
  color: rgba(76, 86, 106, 0.87);
}


/**
 * code-fence
 */
div.code-fence {
  background-color: #f5f8fa;
  color: #000;
  font-size: 0.85rem;
  padding: 0.4rem 0.4rem 0rem 0.4rem;
  border-radius: 4px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

div.code-fence > * {
  margin: 0px;
}

div.code-fence .code-fence_select-wrapper {
  float: right;
}

div.code-fence .code-fence_footer {
  visibility: hidden;
  color: #a0a8aa;
  font-size: 12px;
  margin-left: 0.3rem;
}

div.code-fence .code-fence_footer .fas {
  margin-right: 3px;
  cursor: pointer;
}

body > #card > #editor > .milkdown > .editor div.code-fence .code-fence_footer {
  visibility: visible;
}

div.code-fence .code-fence_value {
    width: 8.25rem;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 0rem 1.2rem;
    margin-block-end: 0px;
    border: 1px solid rgba(216,222,233, 1);

    cursor: pointer;
    background-color: #ffffff;
    position: relative;
    display: flex;
    color: rgba(46, 52, 64, 0.87);
    letter-spacing: 0.5px;
    height: 1.2rem;
    align-items: center;
}

div.code-fence .code-fence_value > *:last-child {
  width: 1.625rem;
  height: 100%;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(76, 86, 106, 0.87);
  border-left: 1px solid rgb(216,222,233);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

div.code-fence .code-fence_value > *:last-child:hover {
  background: rgb(236,239,244);
  color: rgb(94,129,172);
}

div.code-fence .code-fence_value > span:first-child {
  padding-left: 1rem;
  flex: 1;
  font-weight: 500;
}

div.code-fence .code-fence_select-option {
  list-style: none;
  line-height: 2rem;
  padding-left: 1rem;
  cursor: pointer;
}

div.code-fence .code-fence_select-option:hover {
  background: rgba(129,161,193, 0.12);
  color: rgb(94,129,172);
}

div.code-fence .code-fence_select[data-fold='true'] {
  display: none;
}

div.code-fence .code-fence_select {
  font-weight: 500;
  float:right;
  margin-block-start: 0px;
  margin-left: 0px;
  z-index: 1;  
  box-sizing: border-box;
  left: 1.2rem;
  padding: 0.5rem 0;
  max-height: 16.75rem;
  width: 8.25rem;
  border: 1px solid rgba(216,222,233, 1);
  box-shadow: 0px 1px 1px rgba(151, 153, 158, 0.14), 0px 2px 1px rgba(59, 66, 82, 0.12), 0px 1px 3px rgba(59,66,82, 0.2);
  background-color: #ffffff;
  border-top: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: #f5f8fa #a5a8af;
}

div.code-fence .code-fence_select::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f8fa;
}

div.code-fence .code-fence_select::-webkit-scrollbar-thumb {
  background-color: #a5a8af;
}


div.code-fence code {
  line-height: 1.5;
}

div.code-fence pre {
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', 'monospace';
  margin: 1.4rem 0.3rem 0rem 0.3rem;
  overflow-x: scroll;
  white-space: pre !important;
  scrollbar-width: thin;
  scrollbar-color: #f5f8fa #a5a8af;
}

div.code-fence pre::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f8fa;
}

div.code-fence pre::-webkit-scrollbar-thumb {
  background-color: #a5a8af;
}
