/**
 * TreeStickies
 * © 2021 Hidekazu Kubota
 */
 
 body > #card > #editor{
  position: absolute;
  top: 18px;
  z-index: 5;  
  width: 100%;
  height: 100%;

  margin: 0px;
  border: 0px;  
  padding: 0px;

  visibility: hidden;

  overflow-x: hidden;
  overflow-y: scroll;
}

body > #card > #editor > .milkdown{
  position: absolute;
  margin: 0px;
  padding: 0px;

  /* Remove the background color to make it transparent. */
	background-color: transparent;
  box-shadow: none;
}

body > #card > #editor > .milkdown > .editor {
  position: absolute;
  top: 0px;
  left: 0px;

  margin: 3px 7px 3px 7px;
  padding: 2px;

	/* Remove the background color to make it transparent. */
	background-color: transparent;

  /* Text color */
	color: #000;

	/* Font */
	/* Emoji fonts are added to visualize them nicely in Internet Explorer. */
  font-family:  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';  
	font-size: 14px;

  word-wrap: break-word;
}

/* Custom scroll bar */
#editor::-webkit-scrollbar-thumb{
  border-radius: 7px;
}

#editor::-webkit-scrollbar{
  width: 7px;
}

body > #card > #editor > .milkdown > .editor > * {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

/**
 * contents
 */

body > #card > #contents > #contentsFrame {
  position: absolute;
  top: 0px;
  left: 0px;
  
  /* Font */
	/* Emoji fonts are added to visualize them nicely in Internet Explorer. */
  font-family:  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';  
	font-size: 14px;

	/* Text color */
	color: #000;

	margin: 3px 7px 3px 7px;
  padding: 2px;

  /* Remove the background color to make it transparent. */
	background-color: transparent;

  word-wrap: break-word;

  white-space: break-spaces; /* defined in .ProseMirror */ 
  font-variant-ligatures: none; /* defined in .ProseMirror */ 
  font-feature-settings: "liga" 0; /* defined in .ProseMirror */ 
}

/* Custom scroll bar */
body > #card > #contents::-webkit-scrollbar-thumb{
  border-radius: 7px;
}

body > #card > #contents::-webkit-scrollbar{
  width: 7px;
}

body > #card > #contents > #contentsFrame > * {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

