/**
 * TreeStickies
 * © 2021 Hidekazu Kubota
 */
 
 body > #card > #editor{
  padding: 0px;
  margin: 0px;
  top: 18px;  
  border: 0px;
  visibility: hidden;
  position: absolute;
  z-index: 50;
}

body > #card > #editor > .milkdown{
	/* Remove the background color to make it transparent. */
	background-color: transparent;
  position: absolute;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: scroll;
}

body > #card > #editor > .milkdown > .editor {
	/* Font */
	/* Emoji fonts are added to visualize them nicely in Internet Explorer. */
	font-family:  'メイリオ', 'Meiryo', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;

	/* Text color */
	color: #000;

	/* Remove the background color to make it transparent. */
	background-color: transparent;
	margin: 3px 7px 3px 7px;
  padding: 2px;

  word-wrap: break-word;
}

/* Custom scroll bar */
.milkdown::-webkit-scrollbar-thumb{
  border-radius: 7px;
}

body > #card > #editor > .milkdown > .editor > * {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}